[submodule "VDV301publisher"]
	path = VDV301publisher
	url = https://github.com/frutabruta/VDV301publisher.git
[submodule "VDV301struktury"]
	path = VDV301struktury
	url = https://github.com/frutabruta/VDV301struktury.git
[submodule "VDV301subscriber"]
	path = VDV301subscriber
	url = https://github.com/frutabruta/VDV301subscriber
[submodule "XmlRopidImportStream"]
	path = XmlRopidImportStream
	url = https://github.com/frutabruta/XmlRopidImportStream
