[submodule "qtzeroconf"]
	url = https://github.com/jbagg/QtZeroConf
	branch = master
	path= qtzeroconf
[submodule "VDV301publisher"]
	path = VDV301publisher
	url = https://github.com/frutabruta/VDV301publisher.git
[submodule "VDV301struktury"]
	path = VDV301struktury
	url = https://github.com/frutabruta/VDV301struktury.git
[submodule "VDV301subscriber"]
	path = VDV301subscriber
	url = https://github.com/frutabruta/VDV301subscriber
